@using System.Data
@model DataTable

@{
    Layout = "~/Views/_formlayout.cshtml";
    //  ViewBag.Title = "VideoCategoryList";
}


<div class="x_title">
    <h2>VIDEO CATEGORY LIST</h2>

    <div class="clearfix"></div>
</div>

<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/Admin/VideoCategoryList" method="post" enctype="multipart/form-data">


    <table id="datatable" class="table table-striped table-bordered" border="1" style="border-color:lightgrey;">
        <thead>
            <tr>
                <th>Video CategoryID</th>
                <th>Category Name</th>


                <td></td>
                <td></td>

            </tr>
            </thead>
        <tbody>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <td>@Model.Rows[i]["VideoCategoryID"]</td>
                    <td>@Model.Rows[i]["CategoryName"]</td>


                    <td>
                        <a style="color:red" href="VideoCategoryEdit/@Model.Rows[i]["VideoCategoryID"]">Edit</a>
                    </td>
                    <td>
                        <a style="color:red" href="VideoCategoryDelete/@Model.Rows[i]["VideoCategoryID"]">Delete</a>
                    </td>
                </tr>
            }
            </tbody>

    </table>

</form>


