
@{
    Layout = "~/Views/_MasterLayout.cshtml";
    // ViewBag.Title = "gallery1";
}
<style>
    .gallery-title {
        font-size: 36px;
        color: #42B32F;
        text-align: center;
        font-weight: 500;
        margin-bottom: 70px;
    }

        .gallery-title:after {
            content: "";
            position: absolute;
            width: 7.5%;
            left: 46.5%;
            height: 45px;
            border-bottom: 1px solid #5e5e5e;
        }

    .filter-button {
        font-size: 18px;
        border: 1px solid #42B32F;
        border-radius: 5px;
        text-align: center;
        color: #42B32F;
        margin-bottom: 30px;
    }

        .filter-button:hover {
            font-size: 18px;
            border: 1px solid #42B32F;
            border-radius: 5px;
            text-align: center;
            color: #ffffff;
            background-color: #42B32F;
        }

        .filter-button.active {
            background-color: #42B32F;
            color: white;
        }

    .port-image {
        width: 100%;
    }

    .gallery_product {
        margin-bottom: 30px;
    }
</style>







<div class="container">
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 style="color:orangered;"> &nbsp;&nbsp;&nbsp;&nbsp;GALLERY</h1>

        </div>

        <br />
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636247426974006094_kidneybeans.jpg" class="img-responsive" />
            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636247460894637053_Mustard-Oil-Seed.jpg" class="img-responsive" />
            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">

                <img src="~/cropimgs/636247426371116708_Pigeon-Peas.jpg" class="img-responsive" />
            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636247428049291125_garbanzo beans.JPG" class="img-responsive" />

            </div>
        </div>

        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636247464451764073_tea.jpg" class="img-responsive" />
            </div>
        </div>

        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636247465813375730_coconut.jpg" class="img-responsive" />

            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636247547808723648_garlic.jpg" class="img-responsive" />

            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636258810742337018_636247459661512399_tobacco.jpg" class="img-responsive">
            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636258810742337018_636247459661512399_tobacco.jpg" class="img-responsive">
            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636258810742337018_636247459661512399_tobacco.jpg" class="img-responsive">
            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636258810742337018_636247459661512399_tobacco.jpg" class="img-responsive">
            </div>
        </div>
        <div class="span3">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="~/cropimgs/636258810742337018_636247459661512399_tobacco.jpg" class="img-responsive">
            </div>
        </div>





    </div>
</div>


<script>
    $(document).ready(function () {

        $(".filter-button").click(function () {
            var value = $(this).attr('data-filter');

            if (value == "all") {
                //$('.filter').removeClass('hidden');
                $('.filter').show('1000');
            }
            else {
                //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                $(".filter").not('.' + value).hide('3000');
                $('.filter').filter('.' + value).show('3000');

            }
        });

    });
</script>
