
@{
   // ViewBag.Title = "ForgotPasswordRetailer";
    Layout = "~/Views/_MasterLayout.cshtml";
    //  ViewBag.Title = "FarmerForgotPassword";
}


<div id="maincontainer">
    <section id="product">
        <div class="container">
            <div class="row">
                <!-- Register Account-->
                <div class="span9">
                    <h1 class="heading1"><span class="maintext">FOrgot Password</span><span class="subtext"></span></h1>

                    <form class="form-horizontal" action="/Retailer/RetailerEmail" method="post" enctype="multipart/form-data">


                        <div class="registerbox">
                            <fieldset>


                                <div class="control-group">
                                    <label class="control-label"> EMAIL:</label>
                                    <div class="controls">
                                        <input type="email" class="input-xlarge" required="required" name="Email">
                                    </div>
                                </div>

                                <div class="control-group">

                                    <div class="controls">
                                        <input type="Submit" class="btn btn-orange" value="Send Email" name="Submit"> &nbsp; &nbsp;  &nbsp;  &nbsp;

                                    </div>
                                </div>



                            </fieldset>
                        </div>

                    </form>
                    <div class="clearfix"></div>
                    <br>
                </div>
            </div>
        </div>
    </section>
</div>

